<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./myscripts.js"></script>
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
  </head>
  <body>
    <form id="Scouting Form" method="POST" action="/submit">

      <div id="page1">
        <h1>General</h1>

        <label for="Match">Match Number:</label>
        <br>
        <input type="text" id="Match" name="match">
        <br>

        <label for="Team">Team:</label>
        <br>
        <select name="Teams" id="Team">
          <option value="Red1">Red 1</option>
          <option value="Red2">Red 2</option>
          <option value="Red3">Red 3</option>
          <option value="Blue1">Blue 1</option>
          <option value="Blue2">Blue 2</option>
          <option value="Blue3">Blue 3</option>
        </select>
        <br>

        <label for="ScouterName">Scouter's Name:</label>
        <br>
        <input type="text" id="ScouterName" name="name">
        <br>

        <label for="Absent">Team absent?</label>
        <br>
        <input type="checkbox" id="Absent" name="absent">
        <br>

        <button type="button" onclick="nextPage()">Next</button>
      </div>


      <div id="page2" style="display:none;">
        <h1>Autonomus</h1>
        <label for="address">cone:</label>
        <div> 
          <button type="button" onclick="decrement('AutonomusConeHigh')">-</button>
          <input type="text" id="AutonomusConeHigh" value="0" readonly>
          <button type="button" onclick="increment('AutonomusConeHigh')">+</button>
        </div>
        <div>
          <button type="button" onclick="decrement('AutonomusConeMid')">-</button>
          <input type="text" id="AutonomusConeMid" value="0" readonly>
          <button type="button" onclick="increment('AutonomusConeMid')">+</button>
        </div>
        <div>
          <button type="button" onclick="decrement('AutonomusConeHybrid')">-</button>
          <input type="text" id="AutonomusConeHybrid" value="0" readonly>
          <button type="button" onclick="increment('AutonomusConeHybrid')">+</button>
        </div>

        <label for="address">cube:</label>
        <div> 
          <button type="button" onclick="decrement('AutonomusCubeHigh')">-</button>
          <input type="text" id="AutonomusCubeHigh" value="0" readonly>
          <button type="button" onclick="increment('AutonomusCubeHigh')">+</button>
        </div>
        <div>
          <button type="button" onclick="decrement('AutonomusCubeMid')">-</button>
          <input type="text" id="AutonomusCubeMid" value="0" readonly>
          <button type="button" onclick="increment('AutonomusCubeMid')">+</button>
        </div>
        <div>
          <button type="button" onclick="decrement('AutonomusCubeHybrid')">-</button>
          <input type="text" id="AutonomusCubeHybrid" value="0" readonly>
          <button type="button" onclick="increment('AutonomusCubeHybrid')">+</button>
        </div>
        <br>
        <label for="LeftCommunity">Left COMMUNITY Zone?</label>
        <input type="checkbox" name="LeftCommunity" value="Car">
        <br>
        <label for="AuroCharge">Team:</label>
        <br>
        <select name="AuroCharge" id="Team">
          <option value="Red1">charge</option>
          <option value="Red2">Atempted</option>
          <option value="Red3">Didnt atempt</option>
        </select>
        <br>
        <button type="button" onclick="prevPage()">Previous</button>
        <button type="button" onclick="nextPage()">Next</button>
      </div>
      

      <div id="page3" style="display:none;">
        <h1>Teleop</h1>
        <label for="address">cone:</label>
        <div> 
          <button type="button" onclick="decrement('TeleopConeHigh')">-</button>
          <input type="text" id="TeleopConeHigh" value="0" readonly>
          <button type="button" onclick="increment('TeleopConeHigh')">+</button>
        </div>
        <div>
          <button type="button" onclick="decrement('TeleopConeMid')">-</button>
          <input type="text" id="TeleopConeMid" value="0" readonly>
          <button type="button" onclick="increment('TeleopConeMid')">+</button>
        </div>
        <div>
          <button type="button" onclick="decrement('TeleopConeHybrid')">-</button>
          <input type="text" id="TeleopConeHybrid" value="0" readonly>
          <button type="button" onclick="increment('TeleopConeHybrid')">+</button>
        </div>

        <label for="address">cube:</label>
        <div> 
          <button type="button" onclick="decrement('TeleopCubeHigh')">-</button>
          <input type="text" id="TeleopCubeHigh" value="0" readonly>
          <button type="button" onclick="increment('TeleopCubeHigh')">+</button>
        </div>
        <div>
          <button type="button" onclick="decrement('TeleopCubeMid')">-</button>
          <input type="text" id="TeleopCubeMid" value="0" readonly>
          <button type="button" onclick="increment('TeleopCubeMid')">+</button>
        </div>
        <div>
          <button type="button" onclick="decrement('TeleopCubeHybrid')">-</button>
          <input type="text" id="TeleopCubeHybrid" value="0" readonly>
          <button type="button" onclick="increment('TeleopCubeHybrid')">+</button>
        </div>


        <br>
        <button type="button" onclick="prevPage()">Previous</button>
        <button type="button" onclick="nextPage()">Next</button> 
      </div>

      <div id="page4" style="display:none;">
        <h1>Endgame</h1>

        <label for="Crashed">Crashed?</label>
        <br>
        <select name="Crashed" id="Crashed">
          <option value="Didn't">Didn't crashed</option>
          <option value="Did">Crashed and stopped</option>
          <option value="DidContinue">Crashed and continued</option>
        </select>
        <br>

        <label for="Defense">Defensive?</label>
        <input type="checkbox" id="Defense" name="defense">
        <br>

        <label for="Fouls">How many fouls?</label>
        <input type="text" id="Fouls" name="fouls">
        <br>

        <label for="Notes">Notes:</label>
        <br>
        <input type="text" id="Notes" name="notes">
        <br>

        <button type="button" onclick="prevPage()">Previous</button>
        <button type="submit">Submit</button>
      </div>
    
  </body>
</html>